#bookingOption{
  margin-left: 17vw;
  margin-top: 50vh;
}

.p-2{
  padding-bottom: 0;
  background-color: beige;
}

.selected{
 padding-right: 10px;
 padding-left: 10px;

 
  border: 1px solid black;
  padding-bottom: 0;
}


#flightTo{
  display: none;
  /* background-color: rgb(235, 235, 243); */
}

.dropdown{
  
  padding-top: 15px;

  
 
}

.dropdown:hover #link{
  display: block;
  margin-top: 10px;
}
#link{
  display: none;
}
#flex{
  height: 50px;
  border: 1px solid black;
}