
#flight{
    
    width: 40vw;
    margin-left: 20vw;
    position: relative;
}
#seats{
position:absolute;
    /* margin-top: 16vh; */
    background-image: url(../images/whiteflight1.PNG);
height: 100vh;
width: 100vw;
   
}
#bttn{

    background-color: blue;
}