


.dropdown{
  
    padding-top: 15px;
  
   
  }
  
  .dropdown:hover #link{
    display: block;
    margin-top: 10px;
    position: fixed;
    z-index: 99
    ;
  }
  #link{
    display: none;
  }
  #departureBtn{
   text-align: left;
    display: block;
    height: 6vh;
    width: 40vw;
    border: 1px solid black;
  }
  
  #arrivalBtn{
    position: fixed;
    margin-top: 20vh;
    display: block;
    height: 6vh;
    width: 40vw;
    border: 1px solid black;
  }
  #departure, #arrival{
    margin-left: 20vw;
    width: 30vw;
  }
  #departure{
    margin-top: 35vh;
  }
  .form-label{
    color: solid black;

  }
  #searchBtn,#loginBtn{
    margin-top: 3vh;
margin-left: 5vw;

  }
  
   #registerBtn,#searchBtn,#loginBtn{
    margin-top: 3vh;
    background-color:cornflowerblue ;

  }
  #arrivalDate{
    margin-left: 20vw;
    margin-top: -5vh;
    
display: block;

  }
  #dates{

    display: none;
  }